.account-card {
   // margin-top: 30%;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 400px;
    margin: 200px auto;
  }
  
  .account-info h3 {
    font-size: 16px;
    margin-bottom: 5px;
    color: #333333; /* Use a readable text color */
  }
  
  .account-info p {
    font-size: 14px;
    margin-bottom: 10px;
    color: #555555; /* Slightly lighter text color */
  }
  
  .change-password button {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .change-password button:hover {
    background-color: #0056b3;
  }
  
  /* Responsive Design */
  
  @media (max-width: 600px) {
    .account-card {
      max-width: 100%; /* Adjust to full width on small screens */
    }
  
    .account-info h3, .account-info p {
      font-size: 14px; /* Adjust font size for better readability on small screens */
    }
  }
  
  /* Focus Styles for Accessibility */
  
  .change-password button:focus {
    outline: 2px solid #007bff; /* Add focus outline for accessibility */
  }
  